@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", system-ui;
}
body {
	// position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	// overflow-y: scroll;
	background: #121212;
	color: #fff;
	padding: 0 10%;

	.home_container {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		// background: rebeccapurple;
		overflow: hidden;
		gap: 10px;
		.img_cont {
			width: 500px;
			position: relative;
			// background: rebeccapurple;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			height: 100%;
			img {
				height: 100%;
			}
			// background: rebeccapurple;
			&::after {
				content: "";
				position: absolute;
				width: 600px;
				height: 600px;
				background: linear-gradient(45deg, #c70f2e, #121212);
				border-radius: 50%;
				z-index: -2;
				bottom: -50px;
				filter: blur(15px);
				left: 50%;
				transform: translateX(-50%);
			}
			&::before {
				content: "";
				position: absolute;
				width: 200%;
				height: 100%;
				bottom: 0;
				background: linear-gradient(rgba($color: #121212, $alpha: 0), #121212);
			}

			.titles_dashboard_btns {
				position: absolute;
				left: 50%;
				bottom: 10%;
				transform: translateX(-45%);
				text-align: center;
				p {
					// opacity: 0.7;
					&:first-child {
						font-size: 30px;
						line-height: 40px;
						font-weight: 500;
						letter-spacing: 20px;
						text-align: center;
					}
					&:nth-child(2) {
						font-size: 100px;
						line-height: 100px;
						letter-spacing: 50px;
						text-align: center;
					}
					&:last-child {
						font-weight: 700;
						// font-family: "Courier New", Courier, monospace;
						font-size: 14px;
						letter-spacing: 5px;
					}
				}

				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				gap: 20px;

				button {
					position: relative;
					border: none;
					padding: 10px 20px;
					border-radius: 30px;
					// color: #b9b8b8;
					background: none;
					overflow: hidden;
					width: 150px;
					height: 40px;
					display: flex;
					justify-content: center;
					align-items: center;
					a {
						color: #b9b8b8;
						text-decoration: none;
						font-size: 14px;
						transition: inherit;
						z-index: 5;
						position: absolute;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					transition: 0.5s ease-in-out all;
					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						transition: inherit;
						background: #383838;
						top: 0;
						right: 0;
						z-index: 1;
					}
					&::after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						transition: inherit;
						background: linear-gradient(90deg, #c70f2e, #121212);
						top: 0;
						left: -100%;
						z-index: 1;
					}

					&:hover {
						&::before {
							right: -100%;
						}
						&::after {
							left: 0;
						}
						a {
							color: #fff;
						}
					}
				}

				.comp_icons {
					display: flex;
					gap: 20px;
					img {
						height: 40px;
						opacity: 0.7;
					}
				}
			}

			.teams_shirt_number {
				display: flex;
				position: absolute;
				top: 5%;
				left: 0;
				justify-content: space-between;
				width: 100%;
				.t {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 10px;
					span {
						color: #383838;
						font-size: 12px;
						font-weight: 600;
					}
					img {
						height: 60px;
						opacity: 0.7;
					}
					p {
						width: 100%;
						font-size: 70px;
						background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
						text-align: center;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-weight: 700;
						line-height: 60px;
					}
				}
			}
		}

		.vids {
			// background: #c70f2e;
			height: 100%;
			width: calc(50% / 2 - 10px);
			z-index: 99;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			grid-auto-rows: 100px;
			grid-auto-flow: dense;
			padding: 10px 0;
			div {
				background: rgba($color: #1e1e1e, $alpha: 0.5);
				border-radius: 20px;
				backdrop-filter: blur(15px);
				&.wide {
					grid-column: span 2;
				}

				&.tall {
					grid-row: span 2;
				}

				&.big {
					grid-column: span 2;
					grid-row: span 2;
				}
			}
		}

		.info {
			background: rgba($color: #1e1e1e, $alpha: 0.5);
			border-radius: 20px;
			backdrop-filter: blur(15px);
			height: 100%;
			width: calc(25% - 10px);
		}
	}

	.main_container {
		height: 100vh;
		width: 100%;
		overflow: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		// gap: 10px;
		padding-top: 20px;
		// background: rebeccapurple;
		.image_container {
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			height: 100%;
			width: 20%;
			overflow: hidden;
			img {
				width: 100%;
				z-index: 3;
				margin-top: 20px;
			}
			p {
				&.ls_name {
					position: absolute;
					z-index: 2;
					background: -webkit-linear-gradient(54deg, #383838, #c70f2e);
					text-align: center;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-size: 100px;
					font-weight: 600;
					display: flex;
					flex-direction: column;
					left: 0;
					top: 0;

					span {
						line-height: 90px;
					}
				}
				&.st_name {
					position: absolute;
					top: 2px;
					right: 0;
					color: #fff;
					font-size: 35px;
					line-height: 40px;
					font-weight: 500;
				}
			}
			.img_shad {
				position: absolute;
				background: linear-gradient(
					rgba(18, 18, 18, 0),
					rgba(18, 18, 18, 0.5),
					rgba(18, 18, 18, 0.9),
					rgba(18, 18, 18, 1),
					#121212
				);
				// background: rebeccapurple;
				width: 100%;
				height: 40%;
				bottom: 0;
				z-index: 5;
			}
			.plr_main_info {
				position: absolute;
				bottom: 0;
				z-index: 10;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				background: rgba(18, 18, 18, 0.5);
				backdrop-filter: blur(15px);
				gap: 10px;
				padding: 10px;
				padding-bottom: 20px;
				border-radius: 20px;
				.plr_main_info_header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					// background: rebeccapurple;
					width: 100%;
					border-bottom: 1px solid #383838;
					padding-bottom: 5px;
					.img_stat {
						display: flex;
						align-items: center;
						gap: 7px;
						span {
							color: #fff;
							opacity: 0.7;
							font-size: 11px;
							cursor: pointer;
						}
						img {
							height: 20px;
							margin: 0;
						}
					}
					.name_nat {
						// background: rebeccapurple;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						gap: 10px;
						img {
							width: 25px;
							margin: 0;
						}
						span {
							line-height: 15px;
							font-size: 15px;
						}
					}
				}

				.plr_main_info_stats {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					width: 100%;
					gap: 5px;
					.stat_element {
						display: flex;
						justify-content: space-between;
						width: 100%;
						font-size: 12px;
						span {
							&:nth-child(1) {
								cursor: pointer;
							}
							&:nth-child(2) {
								background: #1e1e1e;
								border-radius: 20px;
								padding: 2px 10px;
								color: #b9b8b8;
							}
						}
					}
				}
			}
		}

		.data_holder {
			width: calc(92%);
			height: 100%;
			// background: rebeccapurple;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: 10px;
			button {
				position: relative;
				overflow: hidden;
				background: none;
				border: none;
				outline: none;
				color: #b9b8b8;
				padding: 5px 15px;
				border-radius: 20px;
				cursor: pointer;
				opacity: 0.8;
				transition: 0.5s ease-in-out all;

				&::before {
					content: "";
					position: absolute;
					height: 100%;
					width: 100%;
					background: linear-gradient(90deg, #c70f2e, #121212);
					top: 0;
					left: 0;
					z-index: -1;
					left: -100%;
					transition: 0.5s ease-in-out all;
				}
				&::after {
					content: "";
					position: absolute;
					height: 100%;
					width: 100%;
					background: #383838;
					top: 0;
					right: 0;
					z-index: -1;
					right: 0;
					transition: 0.5s ease-in-out all;
				}

				&:hover {
					opacity: 1;
				}
				&.active {
					// background: linear-gradient(90deg, #c70f2e, #121212);
					background: none;
					color: #fff;
					opacity: 1;
					pointer-events: none;
					&::before {
						left: 0;
					}
					&::after {
						right: -100%;
					}
				}
			}

			.main_info {
				display: flex;
				justify-content: space-between;
				gap: 10px;
				// background: rebeccapurple;
				.teams {
					display: flex;
					justify-content: center;
					align-items: flex-start;
					gap: 10px;
					width: 60%;
					.team {
						display: flex;
						flex-direction: column;
						gap: 20px;
						width: 50%;
						background: #1e1e1e;
						padding: 10px;
						border-radius: 20px;
						.team_header {
							display: flex;
							align-items: flex-start;
							gap: 20px;
							img {
								height: 50px;
								opacity: 0.7;
							}
							p {
								font-weight: 700;
								font-size: 20px;
								background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
								text-align: left;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								line-height: 24px;
								span {
									display: block;
									font-size: 16px;
									font-weight: 500;
								}
							}
						}
						.team_stats {
							display: flex;
							justify-content: space-between;
							align-items: center;
							// gap: 10px;
							.graph_cont {
								display: flex;
								justify-content: flex-start;
								align-items: center;
								flex-direction: column;
								gap: 10px;
								width: calc(100% / 3);
								height: 100px;
								// background: rebeccapurple;
								p {
									font-size: 11px;
									color: #fff;
									opacity: 0.5;
									text-align: center;
									line-height: 11px;
								}
							}
						}
					}
				}

				.markt_value {
					display: flex;
					flex-direction: column;
					gap: 10px;
					width: 40%;
					background: #1e1e1e;
					padding: 10px;
					border-radius: 20px;
					.mrkt_value_header {
						display: flex;
						justify-content: space-between;
						align-items: flex-start;
						font-size: 11px;
						.current_value,
						.h_value {
							p {
								color: #fff;
								opacity: 0.7;
								line-height: 11px;
							}
						}
						.current_value {
							p:nth-child(2) {
								background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
								text-align: left;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								font-size: 27px;
								font-weight: 700;
								line-height: 25px;
								margin-top: 5px;
							}
						}
						.h_value {
							p:nth-child(2) {
								background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
								text-align: left;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								font-size: 17px;
								font-weight: 700;
								line-height: 17px;
								margin-top: 5px;
							}
						}
					}
					.mrkt_value_graph {
						height: 115px;
						// background: rebeccapurple;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: flex-end;
						border-bottom-left-radius: 20px;
						border-bottom-right-radius: 20px;
					}
				}
			}

			.data_pages {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
				gap: 10px;
				// background: rebeccapurple;
			}

			.data_analysis {
				display: flex;
				flex-direction: column;
				height: 75%;
				overflow-y: auto;

				/* width */
				&::-webkit-scrollbar {
					width: 10px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
					background: #1e1e1e;
					border-radius: 20px;
					margin-top: 50px;
					margin-bottom: 50px;
				}

				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: #b9b8b8;
					border-radius: 20px;
				}

				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
					background: #fff;
				}

				padding: 10px 0;
				padding-right: 20px;
				padding-top: 0;
				gap: 10px;

				.sec_header {
					position: sticky;
					display: flex;
					align-items: center;
					gap: 20px;
					// background: rebeccapurple;
					padding: 10px 0;
					.hdr_name {
						display: flex;
						flex-direction: column;
						gap: 5px;
						h1 {
							font-size: 30px;
							line-height: 37px;
							background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
							text-align: left;
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
						p {
							font-size: 16px;
							line-height: 16px;
							opacity: 0.7;
						}
					}
					img {
						height: 70px;
						opacity: 0.7;
					}
				}

				.sec_analysis {
					display: grid;
					grid-gap: 10px;
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
					grid-auto-rows: 200px;
					grid-auto-flow: dense;

					.se_p {
						display: flex;
						justify-content: center;
						align-items: center;
						background: #383838;
						border-radius: 20px;

						&.pos {
							background: none;
							border-radius: 0;
							flex-direction: column;
							justify-content: flex-start;
							align-items: center;
							gap: 10px;
							background: #1e1e1e;
							padding: 10px;
							border-radius: 20px;
							.pos_header {
								display: flex;
								justify-content: space-between;
								width: 100%;
								// background: red;
								h1 {
									display: flex;
									gap: 5px;
									&:first-child {
										font-weight: 700;
										font-size: 18px;
										background: -webkit-linear-gradient(
											54deg,
											#c70f2e,
											#383838
										);
										text-align: left;
										-webkit-background-clip: text;
										-webkit-text-fill-color: transparent;
									}
								}
								p {
									display: flex;
									justify-content: flex-end;
									align-items: center;
									gap: 5px;
									span {
										display: flex;
										justify-content: center;
										align-items: center;
										cursor: default;
										opacity: 0.7;
										border-radius: 20px;
										background: #121212;
										color: #b9b8b8;
										font-size: 12px;
										padding: 1px 15px;
										transition: 0.5s ease-in-out all;
										&:first-child {
											background: #c70f2e;
											color: #fff;
										}

										&:hover {
											opacity: 1;
										}
									}
								}
							}
							// background: red;
							.pos_cont {
								display: flex;
								justify-content: center;
								align-items: center;
								background: rebeccapurple;
								width: 100%;
								height: 79%;
								padding: 10px;
								background: #121212;
								border-radius: 20px;
							}
							img {
								height: 100%;
							}
						}

						&.go_pa {
							display: flex;
							flex-direction: column;
							border-radius: 0;
							// border: 1px solid #fff;
							background: none;
							justify-content: flex-start;
							align-items: flex-start;
							gap: 10px;

							.go_pa_main {
								width: 100%;
								padding: 10px;
								border-radius: 20px;
								background: #1e1e1e;
								height: 50%;
								gap: 10px;
								display: flex;
								flex-direction: column;

								.go_pa_header {
									width: 100%;
									display: flex;
									justify-content: space-between;
									align-items: center;
									// background: rebeccapurple;
									padding-bottom: 5px;
									border-bottom: 1px solid #383838;
									h1 {
										width: fit-content;
										font-size: 20px;
										background: -webkit-linear-gradient(
											54deg,
											#c70f2e,
											#383838
										);
										text-align: left;
										-webkit-background-clip: text;
										-webkit-text-fill-color: transparent;
									}

									.gp_det {
										display: flex;
										justify-content: center;
										align-items: center;
										gap: 10px;
										p {
											display: flex;
											align-items: flex-end;
											gap: 5px;
											span {
												font-size: 12px;
												opacity: 0.7;
												&:first-child {
													opacity: 1;
													line-height: 20px;
													font-size: 20px;
													font-weight: 700;
													background: -webkit-linear-gradient(
														54deg,
														#c70f2e,
														#383838
													);
													text-align: left;
													-webkit-background-clip: text;
													-webkit-text-fill-color: transparent;
												}
											}
										}
									}
								}

								.gp_gls_ast {
									position: relative;
									display: flex;
									align-items: flex-end;
									width: 100%;
									// background: rebeccapurple;
									gap: 10px;
									height: 80%;
									// height: 120px;

									.gp_gls_ast_btns {
										width: calc(25% - 10px);
										display: flex;

										flex-direction: column;
										gap: 5px;
										button {
											z-index: 99;
											font-size: 12px;
											padding: 5px 15px;
											text-align: start;
											// background: #383838;
											color: #b9b8b8;
											border: none;
											outline: none;
											display: flex;
											justify-content: flex-start;
											align-items: center;
											border-radius: 20px;
											cursor: pointer;
											opacity: 0.7;
											transition: 0.5s ease-in-out all;
											&:hover {
												opacity: 1;
											}
											&.active {
												opacity: 1;
												color: #fff;
											}
										}

										.xpt_an {
											display: flex;
											flex-direction: row;
											gap: 5px;
											button {
												padding: 5px 12px;
											}
										}
									}

									#gp_gls_ast_graph {
										display: flex;
										justify-content: center;
										align-items: flex-end;
										height: 100%;
										width: 75%;
										overflow: hidden;
										// background: rebeccapurple;
										border-bottom-left-radius: 20px;
										border-bottom-right-radius: 20px;
									}

									.graph_hint {
										position: absolute;
										font-size: 11px;
										top: 0;
										left: 0;
										display: flex;
										flex-direction: column;
										span {
											opacity: 0.7;
											font-weight: 500;
											&:last-child {
												font-size: 15px;
											}
										}
									}
								}
							}

							.gp_body_parts {
								display: flex;
								justify-content: flex-start;
								gap: 10px;
								width: 100%;
								height: calc(50% - 10px);
								.body_parts {
									display: flex;
									flex-direction: column;

									width: 41%;
									p {
										&.bp_title {
											font-size: 16px;
											font-weight: 700;
											background: -webkit-linear-gradient(
												54deg,
												#c70f2e,
												#383838
											);
											text-align: left;
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;
										}
									}
									background: #1e1e1e;
									padding: 10px 10px 0 10px;
									gap: 10px;
									border-radius: 20px;
									.bps {
										display: flex;
										justify-content: flex-start;
										align-items: flex-start;
										flex-wrap: wrap;
										// flex-direction: column;
										width: 100%;
										gap: 10px;
										// padding: 10px;

										.bp {
											display: flex;
											gap: 10px;
											// background: rebeccapurple;
											width: calc(50% - 5px);
											p {
												font-size: 12px;
											}
											.bp_fig {
												// background: red;
												width: 50px;
												height: 50px;
											}
											&:last-child {
												width: 100%;
											}
											// background: rebeccapurple;
										}
									}
								}
								.g_dis {
									position: relative;
									display: flex;
									flex-direction: column;
									justify-content: flex-start;

									gap: 5px;
									height: 100%;
									padding: 10px;
									background: #1e1e1e;
									border-radius: 20px;
									width: calc(59% - 10px);
									.teams {
										position: absolute;
										z-index: 10;
										display: flex;
										flex-direction: column;
										align-items: flex-start;
										justify-content: flex-start;
										gap: 5px;
										right: 10px;
										top: 10px;
										background: rgba($color: #121212, $alpha: 0.5);
										backdrop-filter: blur(15px);
										padding: 10px;
										border-radius: 20px;
										box-shadow: -10px 10px 29px 0px rgba(56, 56, 56, 0.77);
										-webkit-box-shadow: -10px 10px 29px 0px
											rgba(56, 56, 56, 0.77);
										-moz-box-shadow: -10px 10px 29px 0px rgba(56, 56, 56, 0.77);
										.teams_head {
											width: 100%;
											display: flex;
											justify-content: space-between;
											border-bottom: 1px solid #383838;
											span {
												font-size: 11px;
												color: #c70f2e;
												font-weight: 700;
											}
											margin-bottom: 5px;
										}
										h3 {
											font-weight: 300;
											font-size: 16px;
											width: 100%;
											display: flex;
											justify-content: space-between;
											align-items: center;
											gap: 30px;
											font-size: 12px;
											color: #fff;
											span {
												font-weight: 400;
												opacity: 0.7;
											}
											.img_name {
												display: flex;
												justify-content: center;
												align-items: center;
												gap: 10px;
											}
										}
										.img_cont {
											// background: rebeccapurple;
											width: 20px;
											height: 20px;
											display: flex;
											justify-content: center;
											align-items: center;
										}
										img {
											height: 20px;
										}
									}
									p {
										font-weight: 700;

										overflow: hidden;
										width: fit-content;
										width: 50%;
										background: -webkit-linear-gradient(
											54deg,
											#c70f2e,
											#383838
										);
										text-align: left;
										-webkit-background-clip: text;
										-webkit-text-fill-color: transparent;
									}
									#g_dis {
										// background: rebeccapurple;
										height: 130px;
										width: 100%;
										overflow: hidden;
										display: flex;
										justify-content: flex-start;
										align-items: flex-end;
									}
								}
							}
						}

						&.pass_an,
						&.shot_acc,
						&.pen_acc {
							border-radius: 0;
							background: none;
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 10px;
							.pass_graph,
							.sh_sot_plot,
							.pen_graph {
								background: #1e1e1e;
								height: 100%;
								width: calc(65% - 10px);
								padding: 10px;
								border-radius: 20px;
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								align-items: flex-start;
								gap: 5px;
								p {
									display: flex;
									flex-direction: column;
									span {
										&:first-child {
											font-weight: 700;
											background: -webkit-linear-gradient(
												54deg,
												#c70f2e,
												#383838
											);
											text-align: left;
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;
										}
										&:last-child {
											font-size: 12px;
											opacity: 0.7;
										}
									}
								}
								#sh_sot_graph,
								#pen_graph {
									// background: rebeccapurple;
									height: 115px;
									display: flex;
									justify-content: flex-start;
									align-items: flex-end;
									overflow: hidden;
									width: 100%;
								}
							}
							.pass_acc_prog,
							.shot_acc_sot,
							.pen_acc_gl_perc {
								padding: 10px;
								border-radius: 20px;
								background: #1e1e1e;
								height: 100%;
								width: 35%;
								display: flex;
								flex-direction: column;
								justify-content: flex-start;
								align-items: flex-start;
								gap: 10px;
								p {
									font-weight: 700;
									width: 70%;
									background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
									text-align: left;
									-webkit-background-clip: text;
									-webkit-text-fill-color: transparent;
								}

								.sh_a,
								.pen_a {
									display: flex;
									gap: 10px;
									width: 100%;
									span {
										font-size: 12px;
									}
									.sh_g,
									.pen_g {
										width: 50px;
										height: 50px;
										// background: rebeccapurple;
									}
								}
							}
						}

						&.pass_an {
							.pass_acc_prog {
								p {
									font-size: 20px;
									width: 100%;
								}
								.pass_a {
									display: flex;
									gap: 10px;
									width: 100%;

									span {
										font-size: 14px;
										width: 60%;
									}
									.pass_g {
										width: 60px;
										height: 60px;
										// background: rebeccapurple;
									}
								}
							}
						}

						&.def_ac {
							background: #1e1e1e;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-start;
							padding: 10px;
							gap: 10px;
							p {
								width: fit-content;
								font-size: 20px;
								font-weight: 700;
								background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
								text-align: left;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
							.def_acts {
								display: flex;
								// background: rebeccapurple;
								width: 100%;
								align-items: center;
								justify-content: center;
								flex-wrap: wrap;
								gap: 10px;

								.def_act {
									width: calc(50% - 5px);
									display: flex;
									gap: 10px;
									span {
										font-size: 14px;
									}

									.def_g {
										width: 60px;
										height: 60px;
										// background: rebeccapurple;
										display: flex;
										justify-content: center;
										align-items: center;
									}
									&:last-child {
										// justify-content: center;
										width: 100%;
									}
								}
							}
						}

						&.app_times {
							background: none;
							border-radius: 0;
							flex-direction: column;
							align-items: flex-start;
							justify-content: flex-start;
							gap: 10px;
							.app_times_g {
								display: flex;
								flex-direction: column;
								// justify-content: space-between;
								align-items: flex-start;
								gap: 5px;
								background: #1e1e1e;
								padding: 10px;
								border-radius: 20px;
								width: 100%;
								height: 55%;
								p {
									display: flex;
									flex-direction: column;
									span {
										&:first-child {
											font-size: 20px;
											font-weight: 700;
											background: -webkit-linear-gradient(
												54deg,
												#c70f2e,
												#383838
											);
											text-align: left;
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;
										}
										&:last-child {
											font-size: 12px;
											opacity: 0.7;
										}
									}
								}
								#app_times_g {
									// background: rebeccapurple;
									width: 100%;
									height: 150px;
									display: flex;
									justify-content: center;
									align-items: flex-end;
									padding: 0;
									overflow: hidden;
									border-bottom-left-radius: 20px;
									border-bottom-right-radius: 20px;
								}
							}
							.matches_an {
								display: flex;
								flex-direction: column;
								justify-content: flex-start;
								align-items: flex-start;
								gap: 10px;
								width: 100%;
								background: #1e1e1e;
								height: calc(45% - 10px);
								padding: 10px;
								border-radius: 20px;
								gap: 5px;
								p {
									display: flex;
									flex-direction: column;
									span {
										&:first-child {
											font-size: 20px;
											font-weight: 700;
											background: -webkit-linear-gradient(
												54deg,
												#c70f2e,
												#383838
											);
											text-align: left;
											-webkit-background-clip: text;
											-webkit-text-fill-color: transparent;
										}
										&:last-child {
											font-size: 12px;
											opacity: 0.7;
										}
									}
								}

								.match_apps {
									display: flex;
									flex-wrap: wrap;
									justify-content: flex-start;
									align-items: flex-start;
									width: 100%;
									gap: 10px;
									// background: red;
									span {
										font-size: 12px;
									}

									.match_app {
										display: flex;
										gap: 5px;
										// background: rebeccapurple;
										width: calc(50% - 5px);

										.match_app_g {
											// background: #121212;
											height: 50px;
											width: 50px;
										}
										&:first-child {
											width: 100%;
											span {
												font-size: 14px;
											}
											.match_app_g {
												height: 60px;
												width: 60px;
											}
										}
									}
								}
							}
						}

						&.tchs {
							background: #1e1e1e;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-start;
							padding: 10px;
							gap: 5px;
							p {
								display: flex;
								flex-direction: column;
								justify-content: flex-start;
								align-items: flex-start;
								span {
									&:first-child {
										font-weight: 700;
										font-size: 18px;
										background: -webkit-linear-gradient(
											54deg,
											#c70f2e,
											#383838
										);
										text-align: left;
										-webkit-background-clip: text;
										-webkit-text-fill-color: transparent;
									}
									&:last-child {
										font-size: 12px;
										opacity: 0.7;
									}
								}
							}
							#tchs_graph {
								display: flex;
								justify-content: center;
								align-items: flex-end;
								// background: rebeccapurple;
								width: 100%;
								height: 150px;
								overflow: hidden;
								border-bottom-left-radius: 20px;
								border-bottom-right-radius: 20px;
							}
						}

						&.sca_car_tkons_graphs {
							background: #1e1e1e;
							button {
								z-index: 99;
								font-size: 12px;
								width: 100%;
								text-align: start;
							}

							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-start;
							padding: 10px;
							gap: 5px;
							p {
								display: flex;
								flex-direction: column;
								span {
									&:first-child {
										font-size: 20px;
										font-weight: 700;
										background: -webkit-linear-gradient(
											54deg,
											#c70f2e,
											#383838
										);
										text-align: left;
										-webkit-background-clip: text;
										-webkit-text-fill-color: transparent;
									}
									&:last-child {
										font-size: 12px;
										opacity: 0.7;
									}
								}
							}
							.sca_car_tkons_graph {
								display: flex;
								justify-content: flex-start;
								align-items: flex-start;
								width: 100%;
								height: 80%;
								gap: 10px;
								#sca_car_tkons_graph {
									height: 100%;
									width: 80%;

									overflow: hidden;
								}
								.sca_car_tkons_btns {
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									align-items: flex-start;
									gap: 5px;
									height: 100%;
									width: calc(20% - 10px);
								}
							}
						}

						&.sca_car_tkons_acc {
							background: #1e1e1e;
							display: flex;
							flex-direction: column;
							padding: 10px;
							justify-content: flex-start;
							align-items: flex-start;
							gap: 10px;
							p {
								font-size: 20px;
								font-weight: 700;
								background: -webkit-linear-gradient(54deg, #c70f2e, #383838);
								text-align: left;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
							.sca_car_tks {
								display: flex;
								justify-content: flex-start;
								align-items: flex-start;
								gap: 10px;
								flex-wrap: wrap;
								// height: 100%;
								width: 100%;
								// background: red;
								.sca_car_tk {
									display: flex;
									justify-content: flex-start;
									align-items: flex-start;
									gap: 10px;
									width: calc(50% - 5px);
									span {
										font-size: 12px;
									}
									.sca_car_tk_graph {
										width: 50px;
										height: 50px;
										// background: rebeccapurple;
									}
								}
							}
						}

						&.wide {
							grid-column: span 2;
						}

						&.tall {
							grid-row: span 2;
						}

						&.big {
							grid-column: span 2;
							grid-row: span 2;
						}
					}
				}
			}
		}
	}
}
